@import "../../_globalColor";

.social-media-div {
  font-size: 2em;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.icon-button {
  margin: 5px;
}

.icon-button i {
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 2.6rem;
  width: 2.6rem;
  transition: 0.2s ease-in;
}

.facebook i {
  background-color: $faceBook;
}

.linkedin i {
  background-color: $linkedin;
}

.github i {
  background-color: $github;
}

.bluesky-icon-container {
  background-color: $bluesky;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex
;
  cursor: pointer;
  display: inline-flex
;
  
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 2.6rem;
  width: 2.6rem;
  transition: 0.2s ease-in;
  transform: translateY(3px);
}

.bluesky-icon-container svg {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(0px);
}

.google i {
  background-color: $google;
}

.twitter i {
  background-color: $twitter;
}

.medium i {
  background-color: $medium;
}

.stack-overflow i {
  background-color: $stackoverflow;
}

.kaggle i {
  background-color: $kaggle;
}

.instagram i {
  background-color: $instagram;
}

/* Hover Transition */
.twitter i:hover,
.google i:hover,
.bluesky i:hover,
.github i:hover,
.linkedin i:hover,
.facebook i:hover,
.instagram i:hover,
.stack-overflow i:hover,
.kaggle i:hover,
.medium i:hover {
  background-color: $textColor;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}