/* Change colors in this file to style to your needs on a global level. 
Certain colors are used for different and multiply types of elements. 
For greater control over colors visit each components .scss file. */

// button colors
$buttonColor: #008080; // Teal
$buttonHover: #00CED1; // Cyan
$topButtonHover: #333; // Dark Gray

// text colors light theme
$titleColor: #38deff; // Light Gray
$textColor: #017e8c; // Lighter Gray
$subTitle: #666; // Medium Gray
$cardSubtitle: #888; // Slightly Lighter Medium Gray
$talkCardSubTitle: #777; // Another Medium Gray
$blogCardTitleColor: #ddd; // Light Gray

// text color dark theme
$textColorDark: #ffffff; // White

// toggle switch colors
$toggleCheck: #00CED1; // Cyan
$toggleSwitchSliderBG: #555; // Darker Gray

// githubRepo specific colors
$githubRepoCardLanguageColorBG: #008080; // Teal
$githubRepoCardColor: #444; // Darker Gray
$githubRepoCardRepoCardStatsColor: #666; // Medium Gray
$githubRepoCardRepoNameColor: #ddd; // Light Gray
$githubProfileCardLocationTS: #e0f8f8; // Very Light Teal
$githubProfileCardBorder: #00CED1; // Cyan

// light background colors (These are less relevant for your dark theme)
$lightBackground1: #222; // Darker Gray
$lightBackground2: #282828; // Slightly Lighter Dark Gray
$lightBackground3: #333; // Another Dark Gray
$blogCardContainerColor: #444; // Darker Medium Gray

$background-color: rgb(220,230,226); /* Replace with your color */

// dark background colors
$darkBackground: #0a192f; // Darkest Gray (almost black)

// light theme box shadows (Less relevant for dark theme)
$lightBoxShadowDark: rgba(0, 0, 0, 0.4);
$lightBoxShadow: rgba(0, 0, 0, 0.2);
$lightBoxShadowDarker: rgba(0, 0, 0, 0.5);

// dark theme box shadows
$darkBoxShadow: #333; // Dark Gray
$darkBoxShadow2: #444; // Darker Gray

// linear gradients
$experienceCardBlurredDivLG: linear-gradient(
    rgba(0, 128, 128, 0.4), // Teal
    rgba(0, 206, 209, 0.2) // Cyan
);
$experienceCardBannerLG: linear-gradient(
    rgba(0, 128, 128, 0.7), // Teal
    rgba(0, 206, 209, 0.5) // Cyan
);

// borders
$progressBarBackground: #333; // Dark Gray
$lightBorder1: rgba(204, 204, 204, 0.3); // Light Gray
$educationCardBorder: #00CED1; // Cyan

// hovers
$achievementCertificateCardHoverDark: rgba(204, 204, 204, 0.2); // Light Gray
$blogCardHoverSmallColor: rgba(122, 235, 214, 0.8); // Light Gray
$headerHoverBG: #282828; // Slightly Lighter Dark Gray
$contactDetailHoverTS: #777; // Medium Gray

// misc backgrounds
$progressBarSpanBG: #00CED1; // Cyan
$iconBackground: #444; // Darker Gray
$appHeaderBG: #171c28; // Darker Background

// misc colors
$skillsColor: #00CED1; // Cyan
$appLink: #00CED1; // Cyan

// social media icons
$faceBook: #3b5998;
$linkedin: #0e76a8;
$github: #ddd; // Light Gray
$bluesky: #87CEEB;
$google: #ea4335;
$twitter: #1da1f2;
$medium: #ddd; // Light Gray
$stackoverflow: #f48024;
$instagram: #c13584;
$kaggle: #20beff;